@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;900&display=swap');

body {
  min-width: 360px;
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0D100F;
  color: #F5F5F5;
}

b,
strong {
  font-weight: bold;
}

#app {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

._theme {
  display: flex;
  flex: 1;
}

._backgroundColorTransition {
  transition: background-color 0.25s ease;
}

._df {
  display: flex;
}

._dfc {
  display: flex;
  flex-direction: column;
}

._mc {
  margin: auto;
}

._mvc {
  margin-top: auto;
  margin-bottom: auto;
}

._mhc {
  margin-right: auto;
  margin-left: auto;
}

._tac {
  text-align: center;
}

// Margins
@mixin generate($prefix, $property) {
  $sizes: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]; // List of sizes to generate for each
  $spacing: 0.5rem; // Spacing to multiply the sizes by

  // Loop through all of the sizes(we use @for rather than @each, as we want access to the index)
  @for $i from 1 through length($sizes) {
    $size: nth($sizes, $i); // Get the size for the current index

    // Create the rule
    .#{$prefix}-#{$i - 1} {
      #{$property}: $spacing * $size;
    }
  }
}

@include generate(_m, margin);
@include generate(_mt, margin-top);
@include generate(_mr, margin-right);
@include generate(_mb, margin-bottom);
@include generate(_ml, margin-left);

@include generate(_p, padding);
@include generate(_pt, padding-top);
@include generate(_pr, padding-right);
@include generate(_pb, padding-bottom);
@include generate(_pl, padding-left);

._onlyMobile {
  display: none;
}

@media screen and (max-width: 800px) {
  ._onlyMobile {
    display: block;
  }
}

/* Specific global styles */
hr {
  height: 4px;
  width: 100%;
  margin: 8rem 0;
  border: none;
  border-radius: 6px;
  background-color: #F5F5F5;
}

._TextAccent {
  color: #00C38B;
}

._Button {
  display: block;
  padding: 0 1rem;
  border: 2px solid #F5F5F5;
  border-radius: 4px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 44px;
  background-color: #00C38B;
  color: #F5F5F5;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.25s ease;

  &:hover {
    background-color: #0AA77A;
  }

  &:active {
    position: relative;
    top: 1px;
    left: 1px
  }

  &.big {
    padding: 0 1.5rem;
    border-width: 4px;
    border-radius: 10px;
    line-height: 48px;
  }
}
