.Header {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  width: 100%;
  padding: 1.5rem 3rem;
  background-color: rgba(13, 16, 15, 0.3);
  backdrop-filter: blur(10px);
  transition: padding 0.15s ease-in-out;
  z-index: 99;

  &.small {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;

    &:after {
      content: "";
      position: fixed;
      top: 3.5rem;
    }
  }

  &:after {
    content: "";
    position: fixed;
    top: 5.5rem;
    right: 0;
    left: 0;
    height: 2rem;
    background: #0D100F;
    background: linear-gradient(180deg, rgba(13, 16, 15, 0.5) 0%, transparent 100%);
    transition: top 0.15s ease-in-out;
  }

  .Logo {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 20px;
    font-weight: 700;
    user-select: none;
    cursor: pointer;
  }

  .HeaderLinks {
    display: flex;
    column-gap: 2rem;

    .HeaderLink {
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.5rem;
      text-align: center;
      text-decoration: none;
      color: #F5F5F5;
      transition: color 0.25s ease;

      &:hover {
        color: #0AA77A;
      }
    }
  }

  .RightSide {
    display: flex;
    align-items: center;

    .SocialNetworks {
      display: flex;
      margin-right: 2rem;

      li {
        &:last-child {
          .SocialNetwork {
            margin-right: 0;
          }
        }
      }

      .SocialNetwork {
        width: 2rem;
        margin-right: 0.75rem;
      }
    }
  }
}

.Content {
  display: flex;
  flex: 1;
  margin: 6rem auto 0;
  z-index: 1;
  max-width: calc(1125px + 120px * 2);
}

.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8rem;
  padding: 3.5rem 3.5rem 4rem;
  border-top: 4px solid #F5F5F5;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  background-color: rgba(13, 16, 15, 0.7);
  z-index: 1;

  .Policies {
    display: flex;
    column-gap: 1.5rem;

    .Policy {
      text-decoration: none;
      color: #F5F5F5;
      transition: color 0.25s ease;

      &:hover {
        color: #0AA77A;
      }
    }
  }

  .CenterPart {
    display: flex;
    flex-direction: column;
    align-items: center;

    .Sign {
      margin: 1rem 0;
    }

    .SocialNetworks {
      display: flex;

      .SocialNetwork {
        width: 40px;
        margin-right: 0.75rem;

        &:last-child {
          .SocialNetwork {
            margin-right: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {}
