.Header {
  box-sizing: border-box;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  right: 0;
  width: 100%;
  padding: 1.5rem 3rem;
  background-color: rgba(13, 16, 15, 0.3);
  backdrop-filter: blur(10px);
  z-index: 99;

  &:after {
    content: "";
    position: fixed;
    top: 6rem;
    right: 0;
    left: 0;
    height: 2rem;
    background: #0D100F;
    background: linear-gradient(180deg, rgba(13, 16, 15, 0.5) 0%, transparent 100%);
  }

  .Logo {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 20px;
    font-weight: 700;
    user-select: none;
    cursor: pointer;
  }

  .HeaderLinks {
    display: flex;
    column-gap: 2rem;
  }
}

.Content {
  display: flex;
  flex: 1;
  margin-top: (9rem - 1rem);
}

.Footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 80px 2.5rem;

  .Policies {
    display: flex;
    column-gap: 1.5rem;

    .Policy {
      opacity: 0.3;
      transition: opacity 0.2s ease;

      &:hover {
        opacity: 1;
      }
    }
  }

  .FooterButtons {
    display: flex;
    align-items: center;
    column-gap: 0.75rem;
  }

  .FooterText {
    color: #5E5E5E;
  }
}

@media screen and (max-width: 800px) {
  .Header {
    padding: 1rem 20px;

    .Logo {
      column-gap: 9px;
    }

    .HeaderButtons {
      .DappButton {
        margin-left: 0.25rem;
      }
    }
  }

  .Footer {
    flex-direction: column;
    margin: 0 auto 2rem;

    .Policies {
      flex-direction: column;
      row-gap: 7px;
    }

    .FooterButtons {
      margin: 2.5rem;
    }

    .FooterText {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  }
}
