.HomePage {
  display: flex;
  flex-direction: column;
  flex: 1;

  .Section100vh {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 6rem);
    width: 100%;
    padding-top: 1.5rem;

    .Section100vhContent {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      flex: 1;

      .Info {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        transition: opacity 2s ease;

        &.animate {
          opacity: 1;
        }

        .Title {
          margin-bottom: 3rem;
          font-weight: 900;
          font-size: 100px;
          line-height: 90%;
          text-align: center;
          letter-spacing: -0.01em;
        }

        .Description {
          font-weight: 500;
          font-size: 20px;
          line-height: 120%;
          text-align: center;
          letter-spacing: -0.01em;
        }

        .OpenDapp {
          margin: 3rem 0 (5.5rem + 4rem);
        }
      }

      .Nft {
        position: absolute;
        top: 160px;
        height: auto;
        opacity: 0;
        transform: translatey(0px);
        //animation: floatSmall 9s ease-in-out infinite;
        transition: opacity 0.5s 0.75s ease, top 0.5s 1s ease, left 0.5s 1s ease, right 0.5s 1s ease;

        &.animate {
          opacity: 1;
        }

        &.Nft1 {
          left: -150px;
          height: 66px;
          width: 66px;
          border: 4px solid #f5f5f5;
          border-radius: 10px;
          background: url('./nft1.gif') no-repeat center/cover;
          //animation-name: floatSmall;
          //animation-duration: 9s;

          &.animate {
            top: 0;
            left: 14px;
          }
        }

        &.Nft2 {
          left: -300px;
          width: 122px;
          //animation-name: floatMedium;
          //animation-duration: 7s;

          &.animate {
            top: (74px + 24px);
            left: 74px;
          }
        }

        &.Nft3 {
          left: -500px;

          width: 207px;
          //animation-name: floatLarge;
          //animation-duration: 5s;

          &.animate {
            top: (74px + 24px + 122px + 24px);
            left: -119px;
          }
        }

        &.Nft4 {
          right: -500px;
          width: 207px;
          //animation-name: floatLarge;
          //animation-duration: 5s;

          &.animate {
            top: 0;
            right: -114px;
          }
        }

        &.Nft5 {
          right: -300px;
          height: 114px;
          width: 114px;
          border: 4px solid #f5f5f5;
          border-radius: 10px;
          background: url('./nft5.gif') no-repeat center/cover;
          //animation-name: floatMedium;
          //animation-duration: 7s;

          &.animate {
            top: (207px + 26px);
            right: 75px;
          }
        }

        &.Nft6 {
          right: -150px;
          width: 74px;
          //animation-name: floatSmall;
          //animation-duration: 9s;

          &.animate {
            top: (207px + 26px + 122px + 26px);
            right: 19px;
          }
        }
      }
    }
  }

  .Container {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 0 8rem;

    .AppPreviewContainer {
      display: flex;
      justify-content: center;
      margin-bottom: calc(-8rem - 4px);

      .AppPreview {
        position: relative;
        top: 500px;
        display: flex;
        align-self: center;
        padding: 0 90px;
        opacity: 0;
        transition: opacity 0.5s 0.75s ease, top 0.5s 1s ease;

        &.animate {
          top: 0;
          opacity: 1;
        }

        .AppPreviewImage {
          width: 100%;
          max-width: 945px;
          border-top-right-radius: 12px;
          border-top-left-radius: 12px;
        }
      }
    }

    .Title2 {
      font-weight: 900;
      font-size: 80px;
      line-height: 90%;
      letter-spacing: -0.01em;
    }

    .Description2 {
      font-weight: 700;
      font-size: 32px;
      line-height: 120%;
      letter-spacing: -0.01em;
    }

    .BackgroundFog {
      position: relative;
      margin: -1.5rem;
      padding: 1.5rem;
      background-color: rgba(13, 16, 15, 0.7);
      -webkit-box-shadow: 0 0 3rem 2rem rgba(13, 16, 15, 0.7);
      -moz-box-shadow: 0 0 3rem 2rem rgba(13, 16, 15, 0.7);
      box-shadow: 0 0 3rem 2rem rgba(13, 16, 15, 0.7);

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0 0 2rem 0.5rem rgba(13, 16, 15, 0.3);
      }

      * {
        z-index: 1;
      }
    }

    .SaleSection {
      display: flex;
      flex-direction: column;

      .SaleTitle {
        max-width: 563px;
      }

      .SaleDescription {
        align-self: flex-end;
        max-width: 563px;
        margin: 3.5rem 1rem 0 0;

        .AnftDocsLink {
          position: relative;
          text-decoration: none;
          color: #00c38b;
          transition: color 0.25s ease;

          &:hover {
            color: #0aa77a;

            &:after {
              background-color: #0aa77a;
            }
          }

          &:after {
            content: '';
            position: absolute;
            right: 1px;
            bottom: 6px;
            left: 1px;
            height: 1px;
            background-color: #00c38b;
            transition: background-color 0.25s ease;
          }
        }
      }

      .GoToPublicSaleButton {
        margin-top: 3rem;
        font-weight: 700;
      }
    }

    .RoadmapSection {
      .RoadmapDescription {
        margin: 2.5rem 0 3.5rem;
        font-weight: 500;
        font-size: 20px;
        line-height: 110%;
        text-align: center;
        letter-spacing: -0.01em;

        .LitepaperLink {
          position: relative;
          text-decoration: none;
          color: #00c38b;
          transition: color 0.25s ease;

          &:hover {
            color: #0aa77a;

            &:after {
              background-color: #0aa77a;
            }
          }

          &:after {
            content: '';
            position: absolute;
            right: 1px;
            bottom: 4px;
            left: 1px;
            height: 1px;
            background-color: #00c38b;
            transition: background-color 0.25s ease;
          }
        }
      }

      .RoadmapList {
        display: flex;

        > li {
          width: calc(100% / 4);
          margin-right: 4rem;

          &:first-child {
            .RoadmapSublist {
              list-style-image: url('./check.svg');
            }
          }

          &:last-child {
            margin-right: 0;
          }
        }

        .RoadmapSublistTitle {
          margin-bottom: 25px;
          font-weight: 700;
          font-size: 32px;
          line-height: 110%;
          letter-spacing: -0.01em;
          color: #00c48b;
        }

        .RoadmapSublist {
          display: flex;
          flex-direction: column;
          font-weight: 500;
          font-size: 20px;
          line-height: 120%;
          letter-spacing: -0.01em;
          list-style: disc;

          li {
            margin-bottom: 1.5rem;
          }
        }
      }
    }

    .CommunitySection {
      align-items: center;
      display: flex;
      flex-direction: column;

      .CommunityLinks {
        display: flex;
        justify-self: center;
        margin-top: 85px;

        li {
          margin-right: 4rem;

          &:last-child {
            margin-right: 0;
          }
        }

        .CommunityLink {
          display: flex;
          align-items: center;
          width: (80px + 24px + 115px);
          font-weight: 500;
          font-size: 20px;
          line-height: 120%;
          letter-spacing: -0.01em;
          text-decoration: none;
          color: #00c38b;
          transition: color 0.25s ease;

          &:hover {
            color: #0aa77a;

            .CommunityLinkText {
              color: #0aa77a;
            }
          }

          .CommunityLinkText {
            margin-left: 24px;
            color: #f5f5f5;
            transition: color 0.25s ease;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .HomePage {
    .Section100vh {
      min-height: calc(100vh - 20px - 26px * 2);
      padding-top: 29px;

      .Section100vhContent {
        .Nft {
          top: 50px;

          &.Nft1 {
            &.animate {
              top: -79px;
              left: 37px;
            }
          }

          &.Nft2 {
            left: auto;
            right: -150px;
            width: 122px;
            animation-name: floatMedium;
            animation-duration: 7s;

            &.animate {
              top: calc(-26px - 122px / 2);
              left: auto;
              right: calc(-122px / 2);
            }
          }

          &.Nft3,
          &.Nft4,
          &.Nft5,
          &.Nft6 {
            display: none;
          }
        }

        .Info {
          margin: 0 20px;

          .Title {
            font-size: 52px;
          }

          .OpenDapp {
            width: 100%;
          }
        }
      }
    }

    .Container {
      margin: 0 20px;

      .BackgroundFog {
        background-color: rgba(13, 16, 15, 0.4);
        -webkit-box-shadow: 0 0 3rem 2rem rgba(13, 16, 15, 0.4);
        -moz-box-shadow: 0 0 3rem 2rem rgba(13, 16, 15, 0.4);
        box-shadow: 0 0 3rem 2rem rgba(13, 16, 15, 0.4);
      }

      .AppPreviewContainer {
        margin-bottom: calc(-6rem - 4px);
        max-width: calc(100vw - 20px);
        margin-right: -20px;

        .AppPreview {
          box-sizing: border-box;
          padding: 0 20px;
          overflow: hidden;

          .AppPreviewImage {
            height: 335px;
            width: auto;
          }
        }
      }

      .Title2 {
        font-size: 44px;
      }

      .Description2 {
        font-size: 1.5rem;
      }

      .SaleSection {
        .SaleTitle {
          max-width: 80%;
        }

        .Description2 {
          max-width: none;
        }

        .GoToPublicSaleButton {
          width: 100%;
          text-align: center;
        }
      }

      .RoadmapSection {
        .RoadmapDescription {
          margin: 2rem 0 2.5rem;
        }

        .RoadmapList {
          flex-direction: column;
          padding-left: 1.5rem;

          > li {
            width: 100%;
            margin-right: 0;
            margin-bottom: 4rem;

            &:last-child {
              margin-bottom: 0;
            }
          }

          .RoadmapSublistTitle {
            font-size: 28px;
            text-align: center;
          }
        }
      }

      .CommunitySection {
        .CommunityLinks {
          flex-direction: column;
          align-items: center;
          margin-top: 0;

          li {
            margin-right: 0;

            .CommunityLink {
              flex-direction: column;
              width: auto;
              margin-top: 2.5rem;

              .CommunityLinkText {
                margin: 1rem 0 0;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes floatLarge {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-11px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes floatMedium {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-8px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes floatSmall {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(0px);
  }
}
